@import 'settings';
@import 'common/colors';
@import 'common/layout';
@import 'common/typography';

* { box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--fontMontserrat);
}

.app {
  height: 100%;
  font-weight: normal;
  background-color: var(--colorBackground);
}
