@import '../settings';
@import '../common/form';
@import '../common/colors';

.login {
  width: 450px;
  margin: 60px auto;
  background-color: var(--colorAthensGray);
  border: 2px solid var(--colorMercury);
  border-radius: var(--globalRadius);
}

.login-container {
  padding: 10px 30px;
}

.alternative {
  background: var(--colorLightGray);
  margin-top: 10px;
  padding: 12px 0px;
}

.alternative-link {
  font-weight: bold;
}

.input {
  @apply --input;
}

.email-container {
  padding: 18px 0px;
}

.message {
  color: var(--colorCrimson);
  font-size: var(--fontSmall);
}

/*.load

ing {
  display: none;
  text-align: center;
  margin: 24px auto;
}

.email-container {
  padding: 16px 12px;
  border-bottom: 2px solid var(--colorMercury);
}

.header {}

.message {
  color: var(--colorCrimson);
  font-size: var(--fontSmall);
}

.button {
  @apply --greenButton;
}

.hint {
  @apply --small;
  color: var(--colorBombay);
}*/
